.box1{
    height: 20rem;
    width: 20vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 2rem;
    border-color: red;
    display: flex;
    
}
.box1:hover{
    /* scale-105 duration-200 cursor-pointer */
    transform: scale(1.08);
    transition-duration: 0.5s;
}
.headingportfolio{
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    font-weight: 700;
     
}
.portfolioimg{
    height: 15rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.Bookstore{
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    font-weight: 700;
}
.Bookimg{
    height: 10rem;
    margin-top: 3rem;
    margin-left: 4.5rem;
}
.Books{
    font-size: 1.5rem;
    margin-left: 4.5rem;
    margin-top: 1rem;
}

.Fruits{
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    font-weight: 700;
}
.Fruitsimg{
    height: 12rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
}
.Fruith4{
    margin-left: 4.5rem;
    margin-top: 1rem;
}
.weather{
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    font-weight: 700;
    
}
.weatherimg{
    height: 12rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
}
.weatherh4{
    margin-left: 4.5rem;
    margin-top: 1rem;
}
